{# @var \Uploadcare\Interfaces\File\File file #}
{# @var \Uploadcare\Interfaces\Response\ListResponseInterface list #}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Total files: {{ list.total }}</h5>
  </div>
  {% if list.results is empty %}
    <div class="card-body">
      <h5 class="card-title">
        You have no files in your project. <a href="{{ path('upload_file') }}">Upload a file</a>.
      </h5>
    </div>
  {% endif %}
  <ul class="list-group list-group-flush">
    {% for file in list.results %}
    <li class="list-group-item">
      <div class="card mb-3 border-0">
        <div class="row g-0">
          <div class="col-md-2">
            {% if file.contentInfo.image | default(null) is not null %}
            <a href="{{ file.originalFileUrl }}" target="_blank">
              <div data-blink-uuid="{{ file.uuid }}" style="width: 160px; height: 160px;"></div>
            </a>
            {% else %}
              <svg style="text-anchor: middle" width="160" height="160"
                   xmlns="http://www.w3.org/2000/svg"
                   role="img" focusable="false">
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Not an image</text>
              </svg>
            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ path('file_info', {'uuid': file.uuid}) }}">{{ file.originalFilename }}</a></h5>
              <div class="card-text">
                <div class="badge badge-secondary bg-success">{{ file.uuid }}</div><br>
                <div class="badge badge-secondary bg-success">{{ file.mimeType }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="card-footer">
    <nav aria-label="Files navigation">
      <ul class="pagination">
        {% if previous is not null %}
          <li class="page-item"><a class="page-link" href="{{ path('file_list', previous) }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
        {% endif %}
        {% if next is not null %}
          <li class="page-item"><a class="page-link" href="{{ path('file_list', next) }}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
