<h4>Video / audio info</h4>
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover mt-2">
    <tr>
      <th>Duration</th>
      <td>{{ file.videoInfo.duration }}</td>
    </tr>
    <tr>
      <th>Format</th>
      <td>{{ file.videoInfo.format }}</td>
    </tr>
    <tr>
      <th>Bitrate</th>
      <td>{{ file.videoInfo.bitrate }}</td>
    </tr>
    <tr>
      <th>Dimensions</th>
      <td>{{ file.videoInfo.video.width }}×{{ file.videoInfo.video.height }}</td>
    </tr>
    <tr>
      <th>Frame rate</th>
      <td>{{ file.videoInfo.video.framerate }}</td>
    </tr>
    <tr>
      <th>Codec</th>
      <td>{{ file.videoInfo.video.codec }}</td>
    </tr>
    <tr>
      <th colspan="2">Audio</th>
    </tr>
    <tr>
      <th>Bitrate</th>
      <td>{{ file.videoInfo.audio.bitrate | default('--') }}</td>
    </tr>
    <tr>
      <th>Codec</th>
      <td>{{ file.videoInfo.audio.codec | default('--') }}</td>
    </tr>
    <tr>
      <th>Sample Rate</th>
      <td>{{ file.videoInfo.audio.sampleRate | default('--') }}</td>
    </tr>
    <tr>
      <th>Channels</th>
      <td>{{ file.videoInfo.audio.channels | default('--') }}</td>
    </tr>
  </table>
</div>
