<h4>Video info</h4>
<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover mt-2">
    <tr>
      <th>Duration</th>
      <td>{{ file.videoInfo.duration }}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>Format</th>
      <td>{{ file.videoInfo.format }}</td>
    </tr>
    <tr>
      <th>Bitrate</th>
      <td>{{ file.videoInfo.bitrate }}</td>
    </tr>
    <tr>
      <th>Dimensions</th>
      <td>{{ file.videoInfo.width }}×{{ file.videoInfo.height }}</td>
    </tr>
    <tr>
      <th>Frame rate</th>
      <td>{{ file.videoInfo.framerate }}</td>
    </tr>
    <tr>
      <th>Codec</th>
      <td>{{ file.videoInfo.codec }}</td>
    </tr>
  </table>
</div>
