{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}

  {% for type,messages in app.session.flashBag.all %}
    {% for message in messages %}
      <div class="alert alert-{{ type }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Your files</h5>
      {% if files is empty %}
        Empty
      {% else %}
        <ul class="list-unstyled">
        {% for fileInfo in files %}
          <li>
            <a href="{{ path('file_info', {'uuid': fileInfo.uuid}) }}">{{ fileInfo.originalFilename }}</a>
            (<code>{{ fileInfo.uuid }}</code>)
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
  <hr>

  {{ form_start(form) }}
  {{ form_rest(form) }}

  <button class="btn btn-primary" type="submit">Upload file</button>
  {{ form_end(form) }}
{% endblock %}
