<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('project_info') ? 'active' : '' }}"
       href="{{ path('project_info') }}">Project Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('file_list') ? 'active' : '' }}" href="{{ path('file_list') }}">Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('upload_file') ? 'active' : '' }}"
       href="{{ path('upload_file') }}">Upload file</a>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('groups_list') ? 'active' : '' }}"
       href="{{ path('groups_list') }}">Groups list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('group_create') ? 'active' : '' }}"
       href="{{ path('group_create') }}">Create group</a>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('document_conversion') ? 'active' : '' }}"
       href="{{ path('document_conversion') }}">Convert document</a>
  </li>

  <li class="dropdown-divider"></li>

  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('webhooks_list') ? 'active' : '' }}"
       href="{{ path('webhooks_list') }}">List of project webhooks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ app.request.pathInfo == path('webhook_create') ? 'active' : '' }}"
       href="{{ path('webhook_create') }}">Create new webhook</a>
  </li>
</ul>
