<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/php.min.js"></script>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>
<body class="align-items-end d-flex flex-column h-100">
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 w-100">
    <a class="navbar-brand" href="https://uploadcare.com" target="_blank">Uploadcare</a>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <aside class="col-sm-3">
      {{ include('_menu.html.twig') }}
    </aside>
    <main class="col-sm-9">
      <div class="container w-100">
        <h1 class="d-flex justify-content-between">{{ block('title') }}
        </h1>

        {% for type,messages in app.session.flashBag.all %}
          {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
      </div>
    </main>
  </div>
</div>
<div class="container-fluid mt-auto">
  <div class="row border-top mt-4">
    <div class="col-12">
      <footer class="footer m-3 text-right">
        © Uploadcare {{ 'now' | date('Y') }}
      </footer>
    </div>
  </div>
</div>
{% block javascripts %}{% endblock %}
<script>
    window.addEventListener('DOMContentLoaded', () => {
        hljs.highlightAll();
        document.querySelectorAll('[data-method]').forEach(aEl => {
            aEl.addEventListener('click', e => {
                e.preventDefault()
                const method = e.currentTarget.dataset.method || 'GET'
                const form = document.createElement('form')
                form.setAttribute('action', e.currentTarget.href)
                form.setAttribute('method', method)
                document.getElementsByTagName('body')[0].appendChild(form)
                form.submit()
            })
        });
    });
    (function (src, cb) {
        const s = document.createElement('script');
        s.setAttribute('src', src);
        s.onload = cb;
        (document.head || document.body).appendChild(s);
    })('https://ucarecdn.com/libs/blinkloader/3.x/blinkloader.min.js', function () {
        window.Blinkloader.optimize({
            "pubkey": "{{ pub_key }}",
            "responsive": true,
            "smartCompression": true,
            "retina": true,
            "webp": true,
            "fadeIn": true,
            "lazyload": true
        });
    });
</script>
</body>
</html>
