{% extends 'base.html.twig' %}

{% block title %}Project Info{% endblock %}

{% block body %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><a
            href="https://uploadcare.com/accounts/settings/projects/{{ project.pubKey }}/usage/">{{ project.name }}</a>
      </h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Public key: <code>{{ project.pubKey }}</code></li>
      <li class="list-group-item">Is auto-store enabled: <code>{{ project.autostoreEnabled ? 'True' : 'False' }}</code>
      </li>
      <li class="list-group-item">
        <div class="d-flex">
          <div class="flex-shrink-0 mr-2">Collaborators:</div>
          <div class="flex-grow-1">
            {% if project.collaborators is empty %}<code>Empty</code>{% else %}
              {% for cl in project.collaborators %}{{ cl.name | default('') }}<br>{% endfor %}
            {% endif %}
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endblock %}
